<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog webapp</title>
</head>
<body>
<!--    <h1 style="text-align:center">Blog Website</h1>-->

 {% extends "blog/main.html" %}
 {% block content %}
   <!-- <h1>{{user}}</h1>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}-->

    {% for post in posts %}
    <div class="border" style="margin-left:5px;margin-right:5px">
    <fielset>
        <legend></legend>
        <img src="{{ post.user.profile.image.url }}"  height="80" width="85" >
    <div><a href="{% url 'user-posts' post.user.username %}" class="a"><h1 style="margin:2px " class="bold">{{post.user}}</h1></a>
        <a href="{% url 'post-detail' post.id %}" style="margin:0px" ><h3 class="a">{{post.title}}</h3></a>
    {{post.content}}
        <div><span style="font-weight:bold">Date Posted: </span>{{post.date_posted}}</div>
        </div>
         </div>
    {% endfor %}
    </fielset>
    <div style='margin-left:40%'>
    {% if is_paginated %}
        {% if page_obj.has_previous%}
            <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page=1"  class="border">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}"  class="border">&#10096; Previous</a></li>

        {%endif%}
        {% for num in page_obj.paginator.page_range %}
            {%if page_obj.number == num%}
    <ul class="pagination">

                <li class="page-item"><a class="page-link"  href="?page={{num}}"  >{{num}}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'-3' %}

                <li class="page-item"><a class="page-link"  href="?page={{num}}" >{{num}}</a></li></ul>
            {%endif%}
        {%endfor%}
        {% if page_obj.has_next %}
    <ul class="pagination">

    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}"  class="border">Next &#10097;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}"  class="border">Last</a></li></ul>
        {%endif%}


    {% endif %}

 {% endblock content %}
                </div>

</body>
</html>