<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 {% extends "blog/main.html" %}



 {% block content %}
 <h1 style="text-align:center">Post by{{view.kwargs.username}}({{page_obj.paginator.count }})</h1>
   <!-- <h1>{{user}}</h1>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}-->

    {% for post in posts %}
    <div class="border" style="margin-left:5px;margin-right:5px">
    <fielset>
        <legend></legend>
        <img src="{{ post.user.profile.image.url }}" height="80" width="85" >
    <div><h1 style="margin:2px " class="bold">{{post.user}}</h1>
        <a href="{% url 'post-detail' post.id %}" style="margin:0px"><h3 class="a">{{post.title}}</h3></a>
    {{post.content}}
        <div><span style="font-weight:bold">Date Posted: </span>{{post.date_posted}}</div>
        </div>
         </div>
    {% endfor %}
    </fielset>
    {% if is_paginated %}
        {% if page_obj.has_previous%}
            <a href="?page=1" class="border">&#10112; First</a>
            <a href="?page={{page_obj.previous_page_number}}" class="border">&#10096; Previous</a>
        {%endif%}
        {% for num in page_obj.paginator.page_range %}
            {%if page_obj.number == num%}
                <a href="?page={{num}}" class="border" style="color:white; background-color:black">{{num}}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'-3' %}
                <a href="?page={{num}}" class="border">{{num}}</a>
            {%endif%}
     {%endfor%}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}" class="border">Next &#10097;</a>
            <a href="?page={{page_obj.paginator.num_pages}}" class="border">Last&#9735;</a>
        {%endif%}


    {% endif %}

 {% endblock content %}
</body>
</html>