
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
         {% extends "blog/main.html" %}
    {% load crispy_forms_tags %}
 {% block content %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <fieldset >
            <legend>Login</legend>
            {{form|crispy}}
        </fieldset>
        <button type="submit">Login</button>

    </form>
    <div style="color:blue">Need an account? <a href="{% url 'register' %}" class="border" class="bold">Sign Up </a></div>
    {% endblock content %}
</div>
</body>
</html>