<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
           {% extends "blog/main.html" %}
    {% load crispy_forms_tags %}
 {% block content %}
    <div class="card" style="width: 60%;height:70%;margin-left:20%">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset >

            {{form|crispy}}

        </fieldset>
        <button type="submit" class="btn btn-primary" style="margin-left:45%" >Sign up</button>

    </form>
    <div style="margin-top:1.5%;margin-left:30%;font-size:1.8rem;">Already Have An Account? <a href="{% url 'login' %}" class="btn btn-outline-primary">Sign In</a></div>
        </div>
    {% endblock content %}
</div>


</body>
</html>